header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 4.8rem;

  background-color: #888;
  padding: 0 1.5rem;

  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* logo | nav | perfil */
  align-items: center;
}

main{
  padding-top: 5rem;
}

.nav-icons {
  display: flex;
  gap: 1rem;
  justify-self: center;
}

.profile {
  display: flex;
  justify-items: center;
  align-items: center;
}


