header {
  height: 4.8rem;
  width: 100%;
  background-color: #888;
  position: fixed;
  padding: 1.5rem ;
  
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; /* tres columnas: logo | nav | perfil */
  align-items: center;
  justify-content: center;
}

main{
  padding-top: 6.9rem;
}

.nav-icons {
  display: flex;
  gap: 1rem;
  justify-self: center;
}

.profile {
  display: flex;
  justify-items: center;
  /*justify-self: end;*/
}


